name: Arena Core

on:
  push:
    branches:
      - 'master'
    paths-ignore:
      - 'package.json'

jobs:
  publish-new-version:
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout'
        uses: actions/checkout@v5
        with:
          token: ${{ secrets.ACCESS_TOKEN }}
      - name: Temporarily disable "include administrators" branch protection
        uses: benjefferies/branch-protection-bot@master
        if: always()
        with:
          access_token: ${{ secrets.ACCESS_TOKEN }}
      - name: 'Automated Version Bump'
        uses: 'phips28/gh-action-bump-version@master'
        env:
          GITHUB_TOKEN: ${{ secrets.ACCESS_TOKEN }}
        with:
          tag-prefix: 'v'
      - uses: actions/setup-node@v5
        with:
          node-version: 24
          registry-url: https://npm.pkg.github.com/
          scope: '@openforis'
      - name: Setup .yarnrc.yml
        run: |
          yarn config set npmScopes.openforis.npmRegistryServer "https://npm.pkg.github.com"
          yarn config set npmScopes.openforis.npmAlwaysAuth true
          yarn config set npmScopes.openforis.npmAuthToken $NPM_AUTH_TOKEN
        env:
          NPM_AUTH_TOKEN: ${{ secrets.ACCESS_TOKEN }}
      - name: Install dependencies
        run: yarn install --immutable
      - run: yarn npm publish
      - name: Enable "include administrators" branch protection
        uses: benjefferies/branch-protection-bot@master
        if: always() # Force to always run this step to ensure "include administrators" is always turned back on
        with:
          access_token: ${{ secrets.ACCESS_TOKEN }}
          owner: openforis
          repo: arena-core
